In [1]:
print("안녕")

안녕

In [2]:
print(" hi ") # blabla

 hi

In [3]:
a= 9 
b= 10

In [4]:
print( a+b)
print( a-b)
print( a*b)
print( a/b)
print( a//b)
print( a%b)

19
-1
90
0.9
0
9

In [5]:
print( 'python', 'data anaylist' ,'playwith data', 'raw data')

python data anaylist playwith data raw data

In [6]:
print( '귤', '딸기', '배', sep='/')

귤/딸기/배

In [7]:
k=['a','b', 'c','d','e']
print( k[1:3])
print(k[-4:-2])

['b', 'c']
['b', 'c']

In [8]:
# 리스트 합치기  a + b

l1=['a']
l2 = ['b', 'c', 'e']

print( l1+ l2)
print(l2+l1)

['a', 'b', 'c', 'e']
['b', 'c', 'e', 'a']

In [9]:
# 리스트에 추가하기 

l1.append('aa')
print(l1)

['a', 'aa']

In [11]:
# 반복문의 활용
fruits = ['banaan', 'apple', 'strawberry', 'pear']
for fruit in fruits: # fruits라는 리스트에서 원소를 순서대로 하나씩 거내 fruit이라 부르겠다 
    print(fruit)

banaan
apple
strawberry
pear

In [13]:
#문자열: 따옴표 필수 

a = 'apple'
b= 'pineapple,banana'

ab= a+b
print(ab)

applepineapple,banana

In [14]:
# 문자 포매팅 
month = ' 2월 ' 
day = '20일'
say = "{} {}은 일요일입니다.".format(month, day)
print(say)

 2월  20일은 일요일입니다.

In [17]:
k = '가나다라마바사'

print(k[2]) #다
print(k[-1]) #사
print(k[2:5]) #다라마
print(k[3:]) #라마바사

다
사
다라마
라마바사

In [20]:
# 문자열 정리 strip, replace, split

t1=" hp010-0000-0000 "

print(t1)
t2=t1.strip()  # 공백제거
print(t2)

t3=t2.replace('hp', '') #대체
print(t3)

t4=t3.split('-') #제거 
print(t4)

 hp010-0000-0000
hp010-0000-0000
010-0000-0000
['010', '0000', '0000']

In [25]:
def say_name(name):
    print(' hi ')
    print(' my name is ' + name+ ' .')

say_name('grace')

 hi
 my name is grace .

In [26]:
def calcul(a,b):
    result= a**b
    return result 
test = calcul(10, 3)
print(test)

1000